colorHeader = #CECEF2

.headerppal 
	background colorHeader
	overflow hidden
	border-radius: 40px 40px 40px 40px
	
	h1 
		color red
		text-align center

		
	h2 
		color red
		text-align center
	
	.header_logo
		float left
		radius 15px 50px 30px 5px
		
		
	.header_logo2
		float right 
		
		
	img 
		height 150px
		width 150px
		border-radius: 40px 10px 10px 40px
		