.headerppal{background: #e6e6e6;overflow: hidden;border-radius: 40px 40px 40px 40px;opacity: 0.7;}.headerppal h1{color:#902525;text-align:center}.headerppal h2{color:black;text-align:center}.headerppal .header_logo{float:left;radius:15px 50px 30px 5px}.headerppal .header_logo2{float:right}.headerppal img{height:150px;width:150px;border-radius:40px 10px 10px 40px}
#content_noti{float: right;width: 590px;}#img-noticia{float:left; padding-top: 15px;}#cuerpo_noti{border-radius:40px 40px 40px 40px;background: #e6e6e6;color: #902525;font-size: 17px;line-height: 17px;height: 243px;width: 911px;text-align: justify;padding-right: 10px;}
#noticia_title{text-align: center;padding-top: 10px;}.section-noticias{opacity: 0.7;padding-left: 191px;padding-right: 397px;padding-bottom: 15px;display: block;margin-left: 197px;}#img_menu{width: 38px;height: 33px;}.section-info{opacity: 0.7;border-radius:40px 40px 40px 40px;display: block;padding-right: 0px;background-color: #e6e6e6;padding-left: 74px;width: 197px;height: 515px;padding-left: 0px;margin-right: 0px;padding-right: 0px;margin-top: 0px;}
.menu-title{text-align:center;}#div_img_noti{padding-top: 10px;padding-left: 10px;padding-right: 30px;}.footer{border-radius:40px 40px 40px 40px;display: block;background-color: #e6e6e6;text-align:center;opacity: 0.7;}
.fecha{
margin: 0px;
}
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}



